<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Personnages - Demon Slayer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="page">
        <h1>Personnages</h1>
        <div class="banner-line"></div>

        <!-- BOUTONS FILTRES -->
        <div class="filter-buttons">
            <a href="/characters?race=human" class="btn">Humains</a>
            <a href="/characters?race=demon" class="btn">Démons</a>
        </div>

        <div class="characters-container">
            {{range .}}
            <div class="card">
                <img src="{{.Image}}" alt="{{.Name}}">
                <div class="title">{{.Name}}</div>
            </div>
            {{end}}
        </div>
    </div>

</body>
</html>
