<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demon Slayer - Accueil</title>

    <!-- Lien vers ton style.css -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="page">
        <h1> Bienvenue dans le projet Demon Slayer</h1>
        <p class="subtitle">Projet du groupe Macron</p>

        <div class="banner-line"></div>
 
        <a class="btn" href="/characters">Voir les personnages</a>

        <div class="banner-line"></div>
        <!-- Tu pourras mettre des boutons ici plus tard -->
        <!-- <a href="/characters" class="btn">Personnages</a> -->
    </div>
</body>
</html>
